micronaut:
  application:
    name: backend
  server:
    port: ${devmarkt.server.port:8080}
    host: ${devmarkt.server.host:`localhost`}
mongodb:
  uri: mongodb://${devmarkt.mongodb.user:mongodb}:${devmarkt.mongodb.password:passy}@${devmarkt.mongodb.host:localhost}:${devmarkt.mongodb.port:27017}
