<configuration>

  <conversionRule conversionWord="color"
    converterClass="club.devcord.devmarkt.logging.ColorConverter" />
  <conversionRule conversionWord="ts"
    converterClass="club.devcord.devmarkt.logging.ThrowableSpacer" />
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %color(%5p) %color(${PID:- }){purple} --- [%15.15t] %color(%-40.40logger{39}){cyan} : %m%n%ts</pattern>
      <charset>default</charset>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
      <charset>default</charset>
    </encoder>
    <file>${LOG_FILE:-application.log}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN:-${LOG_FILE:-application.log}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
      <cleanHistoryOnStart>${LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
      <maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxFileSize>
      <totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-0}</totalSizeCap>
      <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxHistory>
    </rollingPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
</configuration>
