name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
        timeout-minutes: 1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Test with Gradle
        run: ./gradlew --build-cache test
        timeout-minutes: 30
      - name: Build with Gradle
        run: ./gradlew --build-cache build
        timeout-minutes: 30